# Node.js
node_modules/
.env

# TypeScript
dist/
*.tsbuildinfo

# Logs
logs/
*.log

# Jest
coverage/
jest-cache/
jest-config.js

# Editor/IDE
.vscode/
.idea/
.DS_Store

# Templates temporários
*.tmp
*.swp

# Sistema
Thumbs.db